stages:
  - deploy

pages:
  stage: deploy
  image: alpine:3.20
  script:
    - mkdir -p public
    - cp index.html public/
    - cp -r assets public/
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
